@media (max-width: 998px) {
  html {
    font-size: 90%;
  }
}

/* Media query for tablets */

@media screen and (max-width: 768px) {
  html {
    font-size: 85%;
  }
}

/* Media query for mobile devices */

@media screen and (max-width: 480px) {
  html {
    font-size: 85%;
    min-width: 30rem;
      padding: 0 1.2rem;
  }
  
}


                                                    /* THE END */
